<h1 style="font-size: 32px; text-align: center;">Introduction to Computer Programming for the Physical Sciences</h1>
<h2 style="font-size: 24px; text-align: center;">Joseph F. Hennawi</h2>
<h3 style="font-size: 24px; text-align: center;">Winter 2024</h2>

<ul style="list-style: none;">
  <li style="margin-bottom: 10px; font-size: 20px;"><span style="display: inline-block; width: 10px; height: 10px; border: 2px solid black; margin-right: 10px;"></span>Open a new Jupyter notebook</li>
  <li style="margin-bottom: 10px; font-size: 20px;"><span style="display: inline-block; width: 10px; height: 10px; border: 2px solid black; margin-right: 10px;"></span>Name your notebook with your name and Homework 1</li>
  <li style="margin-bottom: 10px; font-size: 20px;"><span style="display: inline-block; width: 10px; height: 10px; border: 2px solid black; margin-right: 10px;"></span>Open a Markdown cell at the top and write your name and Homework 1</li>
  <li style="margin-bottom: 10px; font-size: 20px;"><span style="display: inline-block; width: 10px; height: 10px; border: 2px solid black; margin-right: 10px;"></span>Open a Markdown cell before each problem and write e.g. Problem 1, Problem 2(a), etc.</li>
  <li style="margin-bottom: 10px; font-size: 20px;"><span style="display: inline-block; width: 10px; height: 10px; border: 2px solid black; margin-right: 10px;"></span>Please abide by the <b><a href="https://github.com/enigma-igm/Phys29/blob/main/using_AI_tools.md">Policy and Guidelines on Using AI Tools</a></b></li>
  <li style="margin-bottom: 10px; font-size: 20px;"><span style="display: inline-block; width: 10px; height: 10px; border: 2px solid black; margin-right: 10px;"></span>Once you finish the problems: 1) Restart the Python kernel and clear all cell outputs. 2) Rerun the notebook from start to finish so that all answers/outputs show up. 3) Save your notebook as a single .pdf file and upload it to Gradescope on Canvas by the deadline. <b>No late homeworks will be accepted except for illness accompanied by a doctor's note.</b></li>
</ul>

# Homework 3

## Problem 1: Working with Python Data Containers
You are tasked with developing a program to manage information on business trips made by employees to various cities where your company has offices. Unfortunately, your company did not adopt a uniform method for recording this information, so you have to first develop a program that can convert the hybrid data into a homogenous format.  Specifically, the business trip data is a python list containing a combination of dictionaries and tuples, where each dictionary or tuple represents information about a specific trip. The relevant data are the employee's name, destination city, round-trip mileage, and the date of the trip. The dictionaries contain the information in key-value pairs (i.e. name, destination, mileage, date), while the tuple contains the same information ordered sequentially (i.e. tuple_data = (name, destination, mileage, date)). The employee data is given in the code cell below:

In [32]:
import numpy as np

In [33]:
trips = [
    {'name': 'Alice', 'destination': 'New York', 'mileage': 200.0, 'date': '2022-01-01'},
    ('Bob', 'Chicago', 300, '2022-02-01'),
    {'name': 'Charlie', 'destination': 'Los Angeles', 'mileage': 400, 'date': '2022-03-01'},
    ('David', 'San Francisco', 500.0, '2022-04-01'),
    {'name': 'Eve', 'destination': 'Seattle', 'mileage': 620, 'date': '2022-05-01'},
    ('Frank', 'Boston', 705, '2022-06-01'),
    {'name': 'Grace', 'destination': 'Denver', 'mileage': 810, 'date': '2022-07-01'},
    ('Henry', 'Austin', 911, '2022-08-01'),
    {'name': 'Ivy', 'destination': 'Atlanta', 'mileage': 1000.0, 'date': '2022-09-01'},
    ('Jack', 'Miami', 1112.0, '2022-10-01'),
    {'name': 'Kate', 'destination': 'Dallas', 'mileage': 1200.0, 'date': '2022-11-01'},
    ('Liam', 'Houston', 134, '2022-12-01'),
    {'name': 'Mia', 'destination': 'Phoenix', 'mileage': 1400.0, 'date': '2023-01-01'},
    ('Noah', 'Las Vegas', 1526.0, '2023-02-01'),
    {'name': 'Olivia', 'destination': 'San Diego', 'mileage': 1600.0, 'date': '2023-03-01'},
    ('Peter', 'Portland', 1700, '2023-04-01'), 
    ('Alice', 'Boston', 1322.0, '2023-01-01'),
    ('Bob', 'Los Angeles', 400, '2023-02-01'),
    {'name': 'Charlie', 'destination': 'Chicago', 'mileage': 500, 'date': '2023-03-01'},
    ('David', 'Miami', 600.0, '2023-04-01'),
    {'name': 'Eve', 'destination': 'Dallas', 'mileage': 700.0, 'date': '2023-05-01'},
    ('Frank', 'Houston', 800, '2023-06-01'),
    {'name': 'Grace', 'destination': 'Phoenix', 'mileage': 900.0, 'date': '2023-07-01'},
    ('Henry', 'Las Vegas', 1000, '2023-08-01'),
    {'name': 'Ivy', 'destination': 'San Diego', 'mileage': 1100.0, 'date': '2023-09-01'},
    ('Jack', 'Portland', 1200, '2023-10-01'),
    {'name': 'Kate', 'destination': 'New York', 'mileage': 1300.0, 'date': '2023-11-01'},
    ('Liam', 'Austin', 1400, '2023-12-01'),
    {'name': 'Mia', 'destination': 'Denver', 'mileage': 1500.0, 'date': '2024-01-01'},
    ('Noah', 'Atlanta', 1600, '2024-02-01'),
    {'name': 'Olivia', 'destination': 'Seattle', 'mileage': 1700.0, 'date': '2024-03-01'},
    ('Peter', 'San Francisco', 1800, '2024-04-01'), 
    {'name': 'Alice', 'destination': 'Los Angeles', 'mileage': 210.0, 'date': '2022-02-01'},
    ('Alice', 'Boston', 3000.0, '2023-05-01'),
    ('Bob', 'San Francisco', 310, '2022-03-01'),
    {'name': 'Charlie', 'destination': 'Seattle', 'mileage': 410, 'date': '2022-04-01'},
    ('David', 'Boston', 510.0, '2022-05-01'),
    {'name': 'Eve', 'destination': 'Denver', 'mileage': 630, 'date': '2022-06-01'},
    ('Frank', 'Austin', 715, '2022-07-01'),
    {'name': 'Grace', 'destination': 'Atlanta', 'mileage': 820, 'date': '2022-08-01'},
    ('Henry', 'Miami', 921, '2022-09-01'),
    {'name': 'Ivy', 'destination': 'Dallas', 'mileage': 1010.0, 'date': '2022-10-01'},
    ('Jack', 'Houston', 1122.0, '2022-11-01'),
    {'name': 'Kate', 'destination': 'Phoenix', 'mileage': 1210.0, 'date': '2022-12-01'},
    ('Liam', 'Las Vegas', 144, '2023-01-01'),
    {'name': 'Mia', 'destination': 'San Diego', 'mileage': 1410.0, 'date': '2023-02-01'},
    ('Noah', 'Portland', 1536.0, '2023-03-01'),
    {'name': 'Olivia', 'destination': 'San Francisco', 'mileage': 1610.0, 'date': '2023-04-01'},
    ('Peter', 'New York', 1710, '2023-05-01'), 
    {'name': 'Anne', 'destination': 'Seattle', 'mileage': 220.0, 'date': '2022-03-01'},
    ('Gerald', 'Boston', 320, '2022-04-01'),
    {'name': 'Charlie', 'destination': 'Denver', 'mileage': 420, 'date': '2022-05-01'},
    ('Dirk', 'Austin', 520.0, '2022-06-01'),
    {'name': 'Eve', 'destination': 'Atlanta', 'mileage': 640, 'date': '2022-07-01'},
    ('Joe', 'Miami', 725, '2022-08-01'),
    {'name': 'Grace', 'destination': 'Dallas', 'mileage': 830, 'date': '2022-09-01'},
    ('Dirk', 'Houston', 931, '2022-10-01'),
    {'name': 'Ivy', 'destination': 'Phoenix', 'mileage': 1020.0, 'date': '2022-11-01'},
    ('Henry', 'Las Vegas', 1132.0, '2022-12-01'),
    {'name': 'Kate', 'destination': 'San Diego', 'mileage': 1220.0, 'date': '2023-01-01'},
    ('Alison', 'Portland', 154, '2023-02-01'),
    {'name': 'Mia', 'destination': 'San Francisco', 'mileage': 1420.0, 'date': '2023-03-01'},
    ('Noah', 'New York', 1546.0, '2023-04-01'),
    {'name': 'Olivia', 'destination': 'Los Angeles', 'mileage': 1620.0, 'date': '2023-05-01'},
    ('Peter', 'Chicago', 1720, '2023-06-01')
]

**a)**  Write a function called `convert_trips` to convert the trip data into a homogenouse format with behavior that follows the documentation string below: 
```python 

def convert_trips(trips):
    """
    Convert a list of trips containing dictionaries and tuples to a list of dictionaries.

    Parameters
    ----------
    trips : list
        Trip database containing dictionaries and tuples, where each dictionary or tuple
        represents information about a specific trip.

    Returns
    -------
    output_list: list of dicts 
        Trip database as a list of dictionaries. 

    """
```

Test your function by performing a loop over each trip in the `output_list` and printing the trip
data (i.e. the dictionary) to the screen.

In [34]:
# problem 1
# a)
def convert_trips(trips, append_new=None, filter_dict=None, display=False):
    """
    Convert a list of trips containing dictionaries and tuples to a list of dictionaries.

    Parameters
    ----------
    trips : list
        Trip database containing dictionaries and tuples, where each dictionary or tuple
        represents information about a specific trip.

    Returns
    -------
    output_list: list of dicts 
        Trip database as a list of dictionaries. 

    """
    output_list = [0 for _ in range(len(trips))]
    # set up a list with proper lentgh for future operation
    for i in range(len(trips)):
        # going through each element of trips
        if(type(trips[i]) == tuple):
            # find out if the element is a tuple type, if it is, converted it into a dictionary
            output_list[i] = {'name':trips[i][0],'destination': trips[i][1], 'mileage': trips[i][2], 'date': trips[i][3]}
        else:
            # if the element is not tuple, which has to be dictionary, just copy it to the outputlist
            output_list[i] = trips[i]
    return output_list

converted_trips = convert_trips(trips)
print(converted_trips)

[{'name': 'Alice', 'destination': 'New York', 'mileage': 200.0, 'date': '2022-01-01'}, {'name': 'Bob', 'destination': 'Chicago', 'mileage': 300, 'date': '2022-02-01'}, {'name': 'Charlie', 'destination': 'Los Angeles', 'mileage': 400, 'date': '2022-03-01'}, {'name': 'David', 'destination': 'San Francisco', 'mileage': 500.0, 'date': '2022-04-01'}, {'name': 'Eve', 'destination': 'Seattle', 'mileage': 620, 'date': '2022-05-01'}, {'name': 'Frank', 'destination': 'Boston', 'mileage': 705, 'date': '2022-06-01'}, {'name': 'Grace', 'destination': 'Denver', 'mileage': 810, 'date': '2022-07-01'}, {'name': 'Henry', 'destination': 'Austin', 'mileage': 911, 'date': '2022-08-01'}, {'name': 'Ivy', 'destination': 'Atlanta', 'mileage': 1000.0, 'date': '2022-09-01'}, {'name': 'Jack', 'destination': 'Miami', 'mileage': 1112.0, 'date': '2022-10-01'}, {'name': 'Kate', 'destination': 'Dallas', 'mileage': 1200.0, 'date': '2022-11-01'}, {'name': 'Liam', 'destination': 'Houston', 'mileage': 134, 'date': '2022-12-01'}, {'name': 'Mia', 'destination': 'Phoenix', 'mileage': 1400.0, 'date': '2023-01-01'}, {'name': 'Noah', 'destination': 'Las Vegas', 'mileage': 1526.0, 'date': '2023-02-01'}, {'name': 'Olivia', 'destination': 'San Diego', 'mileage': 1600.0, 'date': '2023-03-01'}, {'name': 'Peter', 'destination': 'Portland', 'mileage': 1700, 'date': '2023-04-01'}, {'name': 'Alice', 'destination': 'Boston', 'mileage': 1322.0, 'date': '2023-01-01'}, {'name': 'Bob', 'destination': 'Los Angeles', 'mileage': 400, 'date': '2023-02-01'}, {'name': 'Charlie', 'destination': 'Chicago', 'mileage': 500, 'date': '2023-03-01'}, {'name': 'David', 'destination': 'Miami', 'mileage': 600.0, 'date': '2023-04-01'}, {'name': 'Eve', 'destination': 'Dallas', 'mileage': 700.0, 'date': '2023-05-01'}, {'name': 'Frank', 'destination': 'Houston', 'mileage': 800, 'date': '2023-06-01'}, {'name': 'Grace', 'destination': 'Phoenix', 'mileage': 900.0, 'date': '2023-07-01'}, {'name': 'Henry', 'destination': 'Las Vegas', 'mileage': 1000, 'date': '2023-08-01'}, {'name': 'Ivy', 'destination': 'San Diego', 'mileage': 1100.0, 'date': '2023-09-01'}, {'name': 'Jack', 'destination': 'Portland', 'mileage': 1200, 'date': '2023-10-01'}, {'name': 'Kate', 'destination': 'New York', 'mileage': 1300.0, 'date': '2023-11-01'}, {'name': 'Liam', 'destination': 'Austin', 'mileage': 1400, 'date': '2023-12-01'}, {'name': 'Mia', 'destination': 'Denver', 'mileage': 1500.0, 'date': '2024-01-01'}, {'name': 'Noah', 'destination': 'Atlanta', 'mileage': 1600, 'date': '2024-02-01'}, {'name': 'Olivia', 'destination': 'Seattle', 'mileage': 1700.0, 'date': '2024-03-01'}, {'name': 'Peter', 'destination': 'San Francisco', 'mileage': 1800, 'date': '2024-04-01'}, {'name': 'Alice', 'destination': 'Los Angeles', 'mileage': 210.0, 'date': '2022-02-01'}, {'name': 'Alice', 'destination': 'Boston', 'mileage': 3000.0, 'date': '2023-05-01'}, {'name': 'Bob', 'destination': 'San Francisco', 'mileage': 310, 'date': '2022-03-01'}, {'name': 'Charlie', 'destination': 'Seattle', 'mileage': 410, 'date': '2022-04-01'}, {'name': 'David', 'destination': 'Boston', 'mileage': 510.0, 'date': '2022-05-01'}, {'name': 'Eve', 'destination': 'Denver', 'mileage': 630, 'date': '2022-06-01'}, {'name': 'Frank', 'destination': 'Austin', 'mileage': 715, 'date': '2022-07-01'}, {'name': 'Grace', 'destination': 'Atlanta', 'mileage': 820, 'date': '2022-08-01'}, {'name': 'Henry', 'destination': 'Miami', 'mileage': 921, 'date': '2022-09-01'}, {'name': 'Ivy', 'destination': 'Dallas', 'mileage': 1010.0, 'date': '2022-10-01'}, {'name': 'Jack', 'destination': 'Houston', 'mileage': 1122.0, 'date': '2022-11-01'}, {'name': 'Kate', 'destination': 'Phoenix', 'mileage': 1210.0, 'date': '2022-12-01'}, {'name': 'Liam', 'destination': 'Las Vegas', 'mileage': 144, 'date': '2023-01-01'}, {'name': 'Mia', 'destination': 'San Diego', 'mileage': 1410.0, 'date': '2023-02-01'}, {'name': 'Noah', 'destination': 'Portland', 'mileage': 1536.0, 'date': '2023-03-01'}, {'name': 'Olivia', 'destination': 'San Francisco', 'mileage': 1610.0, 'date': '2023-04-01'}, {'name': 'Peter', 'destination': 'New York', 'mileage': 1710, 'date': '2023-05-01'}, {'name': 'Anne', 'destination': 'Seattle', 'mileage': 220.0, 'date': '2022-03-01'}, {'name': 'Gerald', 'destination': 'Boston', 'mileage': 320, 'date': '2022-04-01'}, {'name': 'Charlie', 'destination': 'Denver', 'mileage': 420, 'date': '2022-05-01'}, {'name': 'Dirk', 'destination': 'Austin', 'mileage': 520.0, 'date': '2022-06-01'}, {'name': 'Eve', 'destination': 'Atlanta', 'mileage': 640, 'date': '2022-07-01'}, {'name': 'Joe', 'destination': 'Miami', 'mileage': 725, 'date': '2022-08-01'}, {'name': 'Grace', 'destination': 'Dallas', 'mileage': 830, 'date': '2022-09-01'}, {'name': 'Dirk', 'destination': 'Houston', 'mileage': 931, 'date': '2022-10-01'}, {'name': 'Ivy', 'destination': 'Phoenix', 'mileage': 1020.0, 'date': '2022-11-01'}, {'name': 'Henry', 'destination': 'Las Vegas', 'mileage': 1132.0, 'date': '2022-12-01'}, {'name': 'Kate', 'destination': 'San Diego', 'mileage': 1220.0, 'date': '2023-01-01'}, {'name': 'Alison', 'destination': 'Portland', 'mileage': 154, 'date': '2023-02-01'}, {'name': 'Mia', 'destination': 'San Francisco', 'mileage': 1420.0, 'date': '2023-03-01'}, {'name': 'Noah', 'destination': 'New York', 'mileage': 1546.0, 'date': '2023-04-01'}, {'name': 'Olivia', 'destination': 'Los Angeles', 'mileage': 1620.0, 'date': '2023-05-01'}, {'name': 'Peter', 'destination': 'Chicago', 'mileage': 1720, 'date': '2023-06-01'}]

**b)** Write a function called `query_trips` consistent with the behavior in the following documentation string.
```python 

def query_trips(trips, filter_dict):
    """
    Manage business trip data.

    Parameters
    ----------
    trips : list
        Trip database containing a list of dictionaries with information about each trip.
    filter_dict : dict, optional
        If provided, return the list of trips that match the key-value pairs in
        this dictionary. The allowed keys in the dictionary are 'name',
        'destination', and 'date'. Multiple keys can be provided. 
    
    Returns
    -------
    output_list: list of dicts 
        List of trips that match the input parameters. 

    Examples
    --------
    >>> filter_dict = {'name': 'Alice', 'destination': 'Boston'}
    >>> alice_trips = manage_trips(trips, filter_dict))
    Returns the list: 

    alice_trips = [{'name': 'Alice', 'destination': 'Boston', 'mileage': 1322.0, 'date': '2023-01-01'},
                   {'name': 'Alice', 'destination': 'Boston', 'mileage': 3000.0, 'date': '2023-05-01'}]
    """
```


Note: Make sure that if multiple trip parameters (name, destination, date) are provided in filter_dict, the output is a list of trips that match ALL of those parameters.


Test your code on the following example usage cases:

```python

# Test filtering trips by destination, should print trips to New York
filter_dict = {'destination': 'New York'}
filtered_trips = query_trips(converted_trips, filter_dict)

# Test filtering trips by name, should print trips by Noah
filter_dict = {'name': 'Noah'}
filtered_trips = query_trips(converted_trips, filter_dict)

# Test filtering trips by date, should print trips on 2023-04-01
filter_dict = {'date': '2023-04-01'}
filtered_trips = query_trips(converted_trips, filter_dict)

# Test filtering trips by name and destination, should print trips by Alice to New York
filter_dict = {'name': 'Alice', 'destination': 'New York'}
filtered_trips = query_trips(converted_trips, filter_dict)

```
For each of these test, put the code in a separate code cell, and loop over each trip in `filtered_trips` and print the trip
data (i.e. the dictionary) to the screen.

In [35]:
# b)
def query_trips(trips, filter_dict):
    """
    Manage business trip data.

    Parameters
    ----------
    trips : list
        Trip database containing a list of dictionaries with information about each trip.
    filter_dict : dict, optional
        If provided, return the list of trips that match the key-value pairs in
        this dictionary. The allowed keys in the dictionary are 'name',
        'destination', and 'date'. Multiple keys can be provided. 
    
    Returns
    -------
    output_list: list of dicts 
        List of trips that match the input parameters. 

    Examples
    --------
    >>> filter_dict = {'name': 'Alice', 'destination': 'Boston'}
    >>> alice_trips = manage_trips(trips, filter_dict))
    Returns the list: 

    alice_trips = [{'name': 'Alice', 'destination': 'Boston', 'mileage': 1322.0, 'date': '2023-01-01'},
                   {'name': 'Alice', 'destination': 'Boston', 'mileage': 3000.0, 'date': '2023-05-01'}]
    """
    output_list = []
    # set up an empty list for operation
    for i in range(len(trips)):
        # going through all the elements in trips
        output_list.append(trips[i])
        # add this element of tips to the outputlist
        for j in filter_dict.keys():
            # gonging through the elements that we have to check
            if(trips[i][j] != filter_dict[j]):
                # find out if the element we want is in the element of trips
                output_list.remove(trips[i])
                # remove the element from output_list if it is not in the filter_dict
                break
                # stop the cycle, since there is no need to check if other senario is matched
    
    return output_list


filter_dict = {'name': 'Alice','destination': 'Boston'}
alice_trips = query_trips(converted_trips,filter_dict)
print(alice_trips)

[{'name': 'Alice', 'destination': 'Boston', 'mileage': 1322.0, 'date': '2023-01-01'}, {'name': 'Alice', 'destination': 'Boston', 'mileage': 3000.0, 'date': '2023-05-01'}]

In [36]:
# Test filtering trips by destination, should print trips to New York
filter_dict = {'destination': 'New York'}
filtered_trips = query_trips(converted_trips, filter_dict)
print(filtered_trips)

[{'name': 'Alice', 'destination': 'New York', 'mileage': 200.0, 'date': '2022-01-01'}, {'name': 'Kate', 'destination': 'New York', 'mileage': 1300.0, 'date': '2023-11-01'}, {'name': 'Peter', 'destination': 'New York', 'mileage': 1710, 'date': '2023-05-01'}, {'name': 'Noah', 'destination': 'New York', 'mileage': 1546.0, 'date': '2023-04-01'}]

In [37]:
# Test filtering trips by name, should print trips by Noah
filter_dict = {'name': 'Noah'}
filtered_trips = query_trips(converted_trips, filter_dict)
print(filtered_trips)

[{'name': 'Noah', 'destination': 'Las Vegas', 'mileage': 1526.0, 'date': '2023-02-01'}, {'name': 'Noah', 'destination': 'Atlanta', 'mileage': 1600, 'date': '2024-02-01'}, {'name': 'Noah', 'destination': 'Portland', 'mileage': 1536.0, 'date': '2023-03-01'}, {'name': 'Noah', 'destination': 'New York', 'mileage': 1546.0, 'date': '2023-04-01'}]

In [38]:
# Test filtering trips by date, should print trips on 2023-04-01
filter_dict = {'date': '2023-04-01'}
filtered_trips = query_trips(converted_trips, filter_dict)
print(filtered_trips)

[{'name': 'Peter', 'destination': 'Portland', 'mileage': 1700, 'date': '2023-04-01'}, {'name': 'David', 'destination': 'Miami', 'mileage': 600.0, 'date': '2023-04-01'}, {'name': 'Olivia', 'destination': 'San Francisco', 'mileage': 1610.0, 'date': '2023-04-01'}, {'name': 'Noah', 'destination': 'New York', 'mileage': 1546.0, 'date': '2023-04-01'}]

In [39]:
# Test filtering trips by name and destination, should print trips by Alice to New York
filter_dict = {'name': 'Alice', 'destination': 'New York'}
filtered_trips = query_trips(converted_trips, filter_dict)
print(filtered_trips)

[{'name': 'Alice', 'destination': 'New York', 'mileage': 200.0, 'date': '2022-01-01'}]

## Problem 2: The Fibonacci Sequence

The Fibonacci sequence begins
$$
0,\,\,
1,\,\,
1,\,\,
2,\,\,
3,\,\,
5,\,\,
8,\,\,
13,\,\,
21,\,\,
34,\,\,
55,
$$
and is defined by the recursion relation
$$
x_{n+1}=x_n+x_{n-1}
$$
with $x_0\equiv0$ and $x_1\equiv1$.  Write Python code to determine the largest Fibonacci number less than $10^6$?

In [40]:
# problem 2
xn_small=0 # x0
xn=1 # x1
# set up initial value for the fibonacci number
xn_large = xn +xn_small # x2

while (xn_large< 10**6):
    # if the next number in Fibonacci number is less than 1e6, keep working on it
    xn_small = xn 
    xn = xn_large
    # since we only need 2 numbers before the number we need to calculate in order to get the result, we can only keep the largest 2 numbers in the Fibonacci number.
    # we are also saving a lot space by doing this. 
    # in the while, xn_small represent x(n-1) inthe formula and xn represent xn in the formular
    xn_large = xn + xn_small
    # xn_large is represent x(n+1) in the formula
    # we only need to add xn and x(n-1) to get x(n+1)

print(xn)
# since when the loop is break xn_large is the smallest number in Fibonacci which is greatere than 1e6
# xn should be the largest number in Fibonacci which is smaller than 1e6

832040

## Problem 3: Higher Order Derivatives
We can represent the $n^{\rm th}$ derivative of $f(x)$ as $f^{(n)}(x)$ where $f^0(x) \equiv f(x)$, $f^1(x) \equiv f^\prime(x)$, $f^2(x) \equiv f^{\prime\prime}(x)$, etc. 

Last week we learned how to compute numerical derivatives of a function $f(x)$, and found that the symmetric difference formula
$$
f^\prime(x) \approx \frac{f(x+h)-f(x-h)}{2h}
$$
performs significantly better than the forward difference formula.  

As discussed at the end of the Week3 lecture notes, recursive functions are Python functions that call themselves.  

**a)**  Code up a **recursive** Python function to compute the $n^{\rm th}$ derivative of the function $f(x)$ using the symmetric difference formula and the recursion relation
$$
f^{(n)}(x) \approx \frac{f^{(n-1)}(x+h)-f^{(n-1)}(x-h)}{2h}
$$
Your function should be consistent with the following documentation string:

```python

def deriv(f, x, n, h=1e-2):
    """
    Compute the nth derivative of a function f(x) using the symmetric difference formula.

    Parameters
    ----------
    f : function
        Function to take the derivative of.
    x : float
        Point at which to evaluate the derivative.
    n : int
        Order of the derivative.
    h : float, optional
        Step size. The default is 1e-2.

    Returns
    -------
    f^(n)(x): float
        The nth derivative of f(x) evaluated at x.

    """
```
**b)**  Test your function by computing the derivatives of $e^x$ at $x=1$ for $n=0,1,2,3,4, ... 10$ and compare to the analytic result. Print our your results to 16 decimal places. You can use the numpy function ```np.exp()``` to compute $e^x$.

**c)** Up to what order of the derivative $n$ can you compute before you start getting numerical errors? 

**d)** In your own words, what do you think is the source of these errors? Why do they set in at large values of $n$?

In [44]:
# problem 3
# a)
def deriv(f, x, n, h=1e-2):
    """
    Compute the nth derivative of a function f(x) using the symmetric difference formula.

    Parameters
    ----------
    f : function
        Function to take the derivative of.
    x : float
        Point at which to evaluate the derivative.
    n : int
        Order of the derivative.
    h : float, optional
        Step size. The default is 1e-2.

    Returns
    -------
    f^(n)(x): float
        The nth derivative of f(x) evaluated at x.
    """
    if(n==0):
        return f(x)
    if(n==1):
        return (f(x+h)-f(x-h))/(2*h)
    return (deriv(f,x+h,n-1,h)-deriv(f,x-h,n-1,h))/(2*h)

# b)
for i in range(11):
    print(deriv(np.exp,1.0,i,))

2.718281828459045
2.718327133382714
2.7183724390611452
2.7184177454619984
2.7184630602139492
2.7185087514425277
2.7184643425215427
2.7144952952085077
3.660266534311063
44.23544863740858
-9540.979117872439

b) continues:

the derivative of $e^x$ should alawys be $e^x$ no matter how many times of derivative are taken.
Thus, all the results should be e. However, some of them shown on screen does not.

#### c)

starting from order 8 the result start to be far away from e, which is the analitical result.

#### d)

I think the source of the error may come from the limit of flaot numbers. Since h is 1e-2, when the order gets higher, the np.exp() may result in such a small number that float is no longer accurate enough. Than things will go wrong.